/* styles.css */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading span {
    font-size: 24px;
    animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}